<!DOCTYPE html>
<html lang="html">
    <head>
        <title>UNIFINITY Worldwide</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/ico" href="/static/Favicon Transparent.ico">
    </head>
    <body>
        <img id="Logo" src="/static/Grayscale Transparent-only Logo.png" alt="">
        <h1>UNIFINITY</h1>
        <p>Social media buttons as on https://www.w3schools.com/howto/howto_css_social_media_buttons.asp</p>
        <h2>FEED</h2>
        <p>scrolling links to the projects</p>
        <p>contact form</p>
        <p id="Odesli"><iframe src="https://song.link/kubyina"></iframe></p>
    </body>
</html>