<!DOCTYPE html>
<html lang="html">
    <head>
        <title>UNIFINITY Worldwide</title>
        <style>
            * {
                font-family: Helvetica, ui-sans-serif;
                text-align: center;
            }
            h1 {
                font-size: 40px;
                text-align: center;
                display: inline-block
            }
            #Logo {
                text-align: left;
                width: 300px;
                object-fit: contain;
                display: inline-block
            }
        </style>
        <link rel="icon" type="image/ico" href="/static/Favicon Transparent.ico">
    </head>
    <body>
        <img id="Logo" src="static/Grayscale Transparent-only Logo.png">
        <h1>UNIFINITY</h1>
        <p>Social media buttons as on https://www.w3schools.com/howto/howto_css_social_media_buttons.asp</p>
        <h2>FEED</h2>
        <p>scrolling links to the projects</p>
        <p>contact form</p>
        <p><iframe src="https://song.link/kubyina" height="1200"></iframe></p>
    </body>
</html>